  
  /* --------body------ */
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;

}

.container{
    width: 1050px;
    font-size: 24px;
    padding: 30PX ;
    border-radius: 5px;
    margin-top: 21px;
}
section{
    margin: 30px;
}

/* ------------------header-part--------------- */
.header-h1{
   
    font-size: 24px;
}
/* ------------all-button-------------- */
.button-1{
    text-decoration: none;
    border: none;
    color: white;
    font: size 10px;;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px; 
    margin: 0%;
}
.button-2{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px;
    border: 20px;
     border-radius: 5px;

}
 /* see more button  */
 .see-more-button,a{
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 40px;
    width: 90%;
    text-align: end;
    margin-right: 10px;    
}
/*-------------------- influencer-part------------------- */
 .popular-collection{
    width: 100%;
   height: 2200px;
 }


.details{
    width: 582px;
    height: 480px; 
   margin:0px;
}
.camera-info{
    margin-top: 0%;
    font-size: 16px;
}
.influencer-part{

    background-color: white; 
    display: flex;
    flex-direction:row;   
}
/* -----camera---- */
.camera-w{
    width: 100%;
}

/* ---------------------popular colllection part---------------- */
.popular-header{
    text-align: center;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;
    
}

/* -----product-item------ */

.popular-collection-product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 1047px;
    height: 1662px;

}
.products{
    width: 329px;
    height: 600px;
    border-radius: 5px;
    padding: 7px;
    width: 100%;    
}
 /* -----product-item---- */
 .product-item{
     width: 329px;
     height: 700px;
     background-color: #FFFFFF;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

 }
 .product-name{
    color: #18191F;
}
 .product-image{
     border-radius: 5px;
     width: 300px;
     height: 256px;
    padding-left: 8px;
}
.product-price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.product-information .star{
    width: 122px;
    height: 32px;
    display: inline;
}
 .star-color{
    color: #FB8200;
}
 .star-rate{
    color: #5E6366; 
 }
 .products-details{
    color: #787885;
 }

/* --------------common-gadget---------- */
.discount-gadget-detail{
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width:calc(100%-400px);
    height: 600px;
    padding: 35px;
    margin-left: 200px;
    margin-bottom: 200px;

} 
/* .discount-gadget  */
.discount-gadget{
    display: flex;
    /* width: 1110px;
    height: 270px; */
    align-items: center;
}
.discount-gadget-header{
    font-size: 38px;
    color: #0A0826;
}
.discount{
    color: coral;
    font-size: 40px;
}
.discount-gadget-img img{
    width: 420px;
    height: 300px;
    border-radius: 5px;

    
}

/* /* -----------footer-part-------------  */
 footer{
     width: 100%;
 }

.footer{
    background-color: rgb(4, 4, 45);
    height: 200px;
    padding: 30px;
}
.footer-header{
    color: #FFFFFF;
    text-align: center;
}
.footer-header p{
    color: #D9DBE1;
}
.icon{
   text-align: center;    
}


